<section
  id="home"
  class="flex flex-col justify-center min-h-[85dvh] max-w-2xl mx-auto px-6 md:scroll-mt-28"
>
  <home />
</section>

<section id="about-me" class="min-h-screen max-w-2xl mx-auto px-6 py-2 md:py-10 md:scroll-mt-28">
  <about-me />
</section>

<section id="resume" class="min-h-screen max-w-2xl mx-auto px-6 py-8 md:py-10 md:scroll-mt-28">
  <resume />
</section>

<section id="projects" class="min-h-screen max-w-2xl mx-auto px-6 py-8 md:py-10 md:scroll-mt-28">
  <projects />
</section>

<section
  id="certificates"
  class="min-h-screen max-w-2xl mx-auto px-6 pt-8 md:pt-10 md:scroll-mt-28"
>
  <certificates />
</section>
